%form{  }
  %fieldset
    %ul
      %li
        %p
          %b Format of dictioanry:
          %p Semicolon separated words. Use '\;' to escape semicolons that should not to be delimiters.
        %dl 
          %dt 
            Example: 
          %dd
            %b
              one; two; three; ninety\; nine
          %dt
            will be interpretted as:
          %dd
            %b
              ["one", "two", "three", "ninety; nine"]
%div.row
  %form.col.s12{ action: "/dictionary", method: "POST" }
    %div.row
      %div.input-field.col.s12
        %select{name: "type" } 
          %option{selected: :full, selected: true} Full 
          %option{selected: :flat, disabled: true} Flat 
          %option{selected: :flat, disabled: true} Aho-Corasick 
        %label Type of trie
    %div.row
      %div.input-field.col.s6
        %textarea.materialize-textarea{placeholder: "Dictionary", id: "dictionary", name: "dictionary", rows: 5, cols: 150}
        %label{ for: "dictionary" } Dictionary
      %div.input-field.col.s6
        %textarea.materialize-textarea{placeholder: "Text", id: "text", name: "text", rows: 5, cols: 150}
        %label{ for: "text" } Text
    %input.waves-effect.waves-light.btn{ type: "submit", value: "Execute" }
