%form{  action: "/dictionary", method: "POST"}
  %fieldset
    %ul
      %li
        %p
          %b Format of dictioanry:
          %p Space separated words. Use '\\ ' to escape spaces that should not to be delimiters.
        %dl 
          %dt 
            Example: 
          %dd
            %b
              one two three ninety\\ nine
          %dt
            will be interpretted as:
          %dd
            %b
              ["one", "two", "three", "ninety nine"]
      %li
        %label{for: "dictionary"} Dictionary:
        %br
        %textarea.text{name: "dictionary", rows: 5, cols: 150}
      %li
        %label{for: "text"} Text:
        %br
        %textarea.text{name: "text", rows: 5, cols: 150}
    %input.button{type: "submit", value: "Execute"}