!!!
%html
  %head
    %title= "Tries"
    %link{rel: "stylesheet", href: 'stylesheets/styles.css'}
    %link{rel: "stylesheet", href: "stylesheets/materialize.min.css"}
    %script{src: "javascripts/jquery-3.4.1.min.js"}
    %script{src: "javascripts/materialize.min.js"}
  %body
    = if !settings.flash.empty? 
      %p.warning "#{settings.flash[:message]}"
    %nav.purple.darken-4
      %div.nav-wrapper
        %a.brand-logo.right{ href: "/"}Trie Text Analyzer
        %ul.left.hide-on-med-and-down#nav-mobile
          %li 
            %a{ href: "/" } Home
          %li 
            %a{ href: "https://codenv.top" } Codenv.top
          %li
            %a{ href: "https://github.com/sbezugliy/trie-viz" } Github
          %li
            %a{ href: "https://cloud.drone.io/sbezugliy/trie-viz" } CI status
    %div.main
      %div.container
        = yield
      %br
    %footer.page-footer.purple.darken-4
      %div.footer-copyright
        %div.container.center
          Sergey Bezugliy &copy; 2019
          %br
          s.bezugliy@gmail.com
    %script{src: "javascripts/init.js"}