%h1 Results
%div
  %dl 
    %dt 
      Dictionary:
    %dd.crop
      #{locals[:data][:dictionary]}
      %br
    %dt 
      Text:      
    %dd.crop
      #{locals[:data][:text]}
    %br
    %dt
      Result:
    %dd.crop
      #{locals[:result][:inclusions]}
  %br 
  %img{src: locals[:result][:diagram_path]}
